@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');
* {
    font-family: 'Poppins', sans-serif;
}
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.custom-icon {
    color: white!important;
}

.custom-toggler {
    border-color: white!important;
    outline: none!important;
    box-shadow: none!important;
}

.cc:hover{
color: #8dc63f !important;
}
.ba:hover{
color: #63d7fb !important;
}
.gs{
    cursor: pointer;
   background-color: #ff4669;
   padding:2px 25px;
   border:none;
   border-radius:5px;
   transition:0.3s;
   outline: none;
}